


{% extends "layout.html" %}
{%import "helpers/forms.html" as forms %}
{%block title%}TEAM MANAGEMENT{% endblock %}
{% block content %}
{{ super() }}
 <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">

<form action = "/sport" method = "POST">
<fieldset>
  <legend>Add a sport</legend>
  {{ forms.render(sport_form) }}
  <p><input type = "Submit" value = "New Sport"></p>
</fieldset>
</form>

<form action = "/team" method = "POST">
<fieldset>
  <legend>Add a team</legend>
  {{ forms.render(team_form) }}
  <p><input type = "Submit" value = "Save Team"></p>
</fieldset>
</form>

<form action = "/player" method = "POST">
<fieldset>
  <legend>Add a player</legend>
  {{ forms.render(player_form) }}
  <p><input type = "Submit" value = "Save Player"></p>
</fieldset>
</form>

<form action = "/randomPlayer" method = "POST">
<fieldset>
  <legend>Add a RANDOM player</legend>
  <p><input type = "Submit" value = "Get Random Player!"></p>
</fieldset>
</form>
{% endblock content %}
